<!DOCTYPE html>
<html>
<head>
	<title>Default</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/monokai_sublime.min.css">
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'navbars/application' %>
	<div class="container">
		<%= render 'alerts/messages' %>
		<%= yield %>
	</div>
	<!-- Rails Js -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Highlight Js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
</body>
</html>